{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="product-detail">
		<img src="
			{% if product.Image %}
				{{product.Image.url}}
			{% else %}
				{% static 'img/default.png' %}
			{% endif %}"
		width=300px>
		<h1>{{product.name}}</h1>
		<h2><a href="{{product.category.get_absolute_url}}">{{product.category}}</a><h2>
		<p class="price">${{product.price}}</p>
		<form method="post" action="{% url 'cart:cart_add' product.id %}">
			{% csrf_token %}
			{{cart_product_form}}
			<input type="submit" value="Add to cart">
		</form>
		{{product.description|linebreaks}}
		
	</div>
{% endblock content %}