body{
	padding:0;
	margin:0 auto;
}

#header{
	background-color:#405A6C;
	width:100%; 
	height: 100px;
}
#ts{
    margin-top: 0;
    padding-top: 26px;
    padding-left: 20px;
}
#header a{
	 text-decoration: none;
	 color:#fff;
	 overflow: hidden;

}
.cart{
	float:right;
	margin-top:-43px;
	margin-right:20px;
	color: #fff;
}
#sidebar{
	float:left;
	width:25%;
}
#sidebar ul li{
	width:50%;
	display: block;
	list-style:none;
}
#sidebar ul li a{
	text-decoration: none;
	padding:10px;
}
.selected{
	background-color:#5892B9;
	color:#fff;
	border:1px solid #eee;
	text-decoration: none;
	padding:10px;
}

#main{
	float:left;
	width:75%;
	overflow: hidden;
}
#mian h1{
	padding: 10px;
}
#mian .items img{
	margin:5;
	padding:3;
	border-radius: 5px;
}

#main .items{
	width:33.33333%;
	float:left;
}

@media screen and (max-width: 1000px) and (min-width: 700px){
	#main .items{
		width:40%;
		padding:10px;
		margin:10px;
		float:left;
	}
}
@media screen and (max-width: 679px) and (min-width: 480px){
	#main .items{
		width:45%;
		padding:15px;
		margin:15px;
		float:left;
	}
}
.center {
	/*margin-left:50px;*/
}
.product-detail{
	font-family: arial;
	color:#141F21;
}
.product-detail img{
	width:25%;
	float:left;
	margin-right:15px;
	margin-left:150px;
}
.product-detail a{
	text-decoration: none;
}

.product-detail .price{font-weight: bold;color:#000;}

table{
	width:70%;
	margin:0 auto;
}

thead{
	background-color:#5892B9;
	display: inline-block;
	width:100%;
}
thead th{
	padding:10px;
	color:#fff;
	text-align: center;
	width:100px;
	}

tbody {
	display: inline-block;
	width:100%;
}
tbody td{
	padding:15px;
	width:100px;
}
tbody .total{
	color: #fff;
	background-color:#5892B9;
	width:100%;
	display: inline-table;
	
}
tbody .total td{
	width:50%;
}
tbody .total .num{
	float:left;
	margin-left: 100px;
}

.text-right{
	float:right;
	margin-right:200px;
}
.text-right :first-child{
	padding:10px;
	text-decoration: none;
	background-color:#F5F5F5; 
}
.text-right :last-child{
	padding:10px;
	text-decoration: none;
	background-color:#5892B9; 
	color:#fff;
}
.order-info{
	background-color:#F6F5F5;
	float:right;
	margin-right: 50px;
	padding: 20px;
	border-bottom: 2px solid #5892B9;
	width:20%;
}

.order-info ul li span{
	float: right;
}
.order-info p{
	float: right;
	font-weight: bold;
}
.order_form{
	padding:10px;
	margin-left:50px;
	width:80%;
}
.order_form label{
	display: block;
}
.order_form input,button{
	width:25%;
	border:none;
	padding:10px;
	background-color:#F3F3F3;
}
.order_form button{
	background-color:#5892B9;
	color:#fff;
	width:27%;
	border:none;
	padding:10px;
}
.pds{
	margin-left:60px;
}
.center-div{
	margin-top:20px;
	border-radius: 10px;
	width:80%;
	padding:30px;
	margin:0 auto;
	background-color: #f3f3f3;
}